*.csv filter=lfs diff=lfs merge=lfs -text
*.pckl filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@esbuild/linux-x64/bin/esbuild filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint-community/eslint-utils/LICENSE filter=lfs diff=lfs merge=lfs -text
*.mts filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cjs filter=lfs diff=lfs merge=lfs -text
*.cts filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint-community/regexpp/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/config-array/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/config-helpers/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/core/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/eslintrc/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/eslintrc/node_modules/globals/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/js/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/object-schema/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/plugin-kit/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@eslint/plugin-kit/node_modules/@eslint/core/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@humanfs/core/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@humanfs/node/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@humanfs/node/node_modules/@humanwhocodes/retry/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@humanwhocodes/module-importer/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@humanwhocodes/retry/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@nodelib/fs.scandir/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@nodelib/fs.stat/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@nodelib/fs.walk/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@rolldown/pluginutils/LICENSE filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@swc/types/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@types/estree/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@types/json-schema/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@types/react-dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@types/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/eslint-plugin/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/eslint-plugin/node_modules/ignore/LICENSE-MIT filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/project-service/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/scope-manager/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/tsconfig-utils/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/type-utils/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/types/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/typescript-estree/LICENSE filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/typescript-estree/node_modules/brace-expansion/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/typescript-estree/node_modules/minimatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/utils/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@typescript-eslint/visitor-keys/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/@vitejs/plugin-react-swc/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/acorn-jsx/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/acorn/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/acorn/bin/acorn filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/ajv/LICENSE filter=lfs diff=lfs merge=lfs -text
*.jst filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/ajv/scripts/info filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/ajv/scripts/prepare-tests filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/ajv/scripts/publish-built-version filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/ajv/scripts/travis-gh-pages filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/ansi-styles/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/argparse/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/brace-expansion/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/braces/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/callsites/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/chalk/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/color-convert/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/color-name/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/concat-map/LICENSE filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/cross-spawn/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/csstype/LICENSE filter=lfs diff=lfs merge=lfs -text
*.flow filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/deep-is/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/esbuild/bin/esbuild filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/escape-string-regexp/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/eslint-plugin-react-hooks/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/eslint-plugin-react-refresh/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/eslint-scope/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/eslint-visitor-keys/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/eslint/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/espree/LICENSE filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.babelrc filter=lfs diff=lfs merge=lfs -text
*.jshintrc filter=lfs diff=lfs merge=lfs -text
*.BSD filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/fast-deep-equal/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/fast-glob/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/fast-glob/node_modules/glob-parent/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/fast-json-stable-stringify/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/fastq/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/file-entry-cache/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/fill-range/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/find-up/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/flat-cache/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/flatted/LICENSE filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/glob-parent/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/globals/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/graphemer/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/has-flag/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/ignore/LICENSE-MIT filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/import-fresh/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/is-extglob/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/is-glob/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/is-number/LICENSE filter=lfs diff=lfs merge=lfs -text
*.npmignore filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/isexe/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/js-yaml/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/json-buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/json-schema-traverse/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/json-stable-stringify-without-jsonify/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/levn/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/locate-path/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/lodash.merge/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/merge2/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/micromatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/minimatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/nanoid/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/optionator/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/p-limit/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/p-locate/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/parent-module/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/path-exists/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/path-key/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/picocolors/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/picomatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/postcss/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/prelude-ls/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/queue-microtask/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/react-dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/resolve-from/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/reusify/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/rollup/dist/bin/rollup filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/run-parallel/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/scheduler/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
*.bnf filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/shebang-command/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/shebang-regex/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/source-map-js/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/strip-json-comments/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/supports-color/license filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/tinyglobby/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/tinyglobby/node_modules/fdir/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/tinyglobby/node_modules/picomatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/to-regex-range/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/type-check/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/typescript-eslint/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/typescript/bin/tsc filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/typescript/bin/tsserver filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/uri-js/LICENSE filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.applescript filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/vite/node_modules/fdir/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/vite/node_modules/picomatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/which/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/which/bin/node-which filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/word-wrap/LICENSE filter=lfs diff=lfs merge=lfs -text
/DiabetesPredictor/node_modules/yocto-queue/license filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
