* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(8px, 1.25vw, 20px);
    overflow-x: hidden;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: #154c79;
    
    width: 100vw;
}

.App > h1 {
    font-size: 6rem;
}

body{
    background-color: #154c79;
}

.tabs > button {
    padding: 1.5rem;
    border: none;
    background-color:#174870;
    color: white;
}

.tabs > button.active {
    background-color: #123e61;
}